name: pr

on: [pull_request]

jobs:
  check-commit:
    uses: wittdennis/pipelines/.github/workflows/cog-validate.yaml@1.12.8
    with:
      check-latest-tag-only: true
      ignore-merge-commits: true

  go-lint:
    uses: wittdennis/pipelines/.github/workflows/go-lint.yaml@1.12.8
    with:
      working-directory: src
      go-version: "1.25.0"

  hadolint:
    uses: wittdennis/pipelines/.github/workflows/hadolint.yaml@1.12.8

  build-image:
    uses: wittdennis/pipelines/.github/workflows/container-image-build.yaml@1.12.8
    needs:
      - check-commit
      - go-lint
      - hadolint
    with:
      image-name: github-app
      create-artifacts: false
      build-args: |
        VERSION=${{ github.ref_name }}
        GIT_COMMIT=${{ github.sha }}

  go-build:
    uses: wittdennis/pipelines/.github/workflows/go-build.yaml@1.12.8
    needs:
      - check-commit
      - go-lint
      - hadolint
    with:
      go-version: "1.25.0"
      ldflags: -s -w -X github-app/cmd/version.appVersion=${{ github.ref_name }} -X github-app/cmd/version.gitCommit=${{ github.sha }} -X github-app/cmd/version.buildDate=$(date +"%Y-%m-%dT%H:%M:%SZ")
      cgo-enabled: false
      working-directory: src
